/*
0 - 600px     Phone
600 - 900px   Tablet portrait
900 - 1200px  Tablet landscape
[1200px  - 1800px] Is where our normal style apply
1800px + 1 : Big Desktop
*/
/*
$breakpoint argument choices:
- Phone
- tab-port
- tab-land
- Big Desktop
*/
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    transform: translatex(0);
  }
  50% {
    transform: translateX(3rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveInLeft {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateX(-3rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveInBtm {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateY(3rem);
  }
  100% {
    transform: translate(0);
  }
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  font-family: "Manrope", sans-serif;
  background-color: #fafafa;
}

.row {
  max-width: 1500px;
  margin: 0 auto;
}

.chart {
  cursor: pointer;
  margin-left: 167px;
  z-index: 10;
}

.chart-box {
  color: black;
  position: absolute;
  top: 5%;
  left: 69%;
  padding: 34px;
  height: 87px;
  width: 100%;
  max-width: 409px;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  font-size: 1.2rem;
  z-index: 10;
}
@media only screen and (max-width: 1354px) {
  .chart-box {
    left: 60%;
  }
}
@media only screen and (max-width: 1076px) {
  .chart-box {
    left: 50%;
  }
}
@media only screen and (max-width: 1455px) {
  .chart-box {
    left: 57%;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(16, 16, 16, 0.5);
  z-index: 5;
}

.hidden {
  display: none;
}

.hiddden {
  display: none;
}

.overline {
  font-size: 14px;
  color: #898989;
  line-height: auto;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 3s;
  letter-spacing: 10px;
  font-weight: 400;
}

.header-h1 {
  color: #fff;
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 3s;
  margin: 0.8rem 0;
}
@media only screen and (max-width: 1800px) {
  .header-h1 {
    width: 80%;
  }
}
@media only screen and (max-width: 1076px) {
  .header-h1 {
    width: 85%;
  }
}
@media only screen and (max-width: 954px) {
  .header-h1 {
    width: 88%;
  }
}
@media only screen and (max-width: 941px) {
  .header-h1 {
    width: 100%;
  }
}

.hero-para {
  width: 100%;
  max-width: 90%;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 3s;
  margin-bottom: 2.4rem;
  color: #898989;
}
@media only screen and (max-width: 1800px) {
  .hero-para {
    font-size: 1.6rem;
    line-height: 1.5;
  }
}
@media only screen and (max-width: 1250px) {
  .hero-para {
    font-size: 1.4rem;
    line-height: 1.5;
  }
}
@media only screen and (max-width: 1202px) {
  .hero-para {
    font-size: 1.3rem;
    line-height: 1.5;
  }
}
@media only screen and (max-width: 941px) {
  .hero-para {
    margin-left: 23px;
  }
}

h2 {
  margin-bottom: 1.9rem;
}
@media only screen and (max-width: 1250px) {
  h2 {
    margin-bottom: 0.9rem;
  }
}
@media only screen and (max-width: 1154px) {
  h2 {
    margin-bottom: 1.9rem;
  }
}
@media only screen and (max-width: 550px) {
  h2 {
    margin-bottom: 0.9rem;
  }
}
@media only screen and (max-width: 363px) {
  h2 {
    margin-bottom: 0.2rem;
  }
}

@media only screen and (max-width: 600px) {
  .speaker-premium-h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 450px) {
  .speaker-premium-h2 {
    font-size: 1.2rem;
  }
}

.text-box-premium {
  width: 100%;
}
@media only screen and (max-width: 1076px) {
  .text-box-premium {
    max-width: 381px;
    padding: 4.4rem 0;
  }
}
@media only screen and (max-width: 1000px) {
  .text-box-premium {
    margin-left: 151px;
  }
}

.premium-text {
  width: 100%;
  max-width: 80%;
  margin-bottom: 2.9rem;
  color: #fff;
}
@media only screen and (max-width: 1800px) {
  .premium-text {
    font-size: 1.6rem;
    line-height: 1.5;
  }
}
@media only screen and (max-width: 1250px) {
  .premium-text {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 0.9rem;
  }
}
@media only screen and (max-width: 1202px) {
  .premium-text {
    font-size: 1.3rem;
    line-height: 1.5;
  }
}
@media only screen and (max-width: 1154px) {
  .premium-text {
    margin-bottom: 1.9rem;
  }
}
@media only screen and (max-width: 1000px) {
  .premium-text {
    text-align: center;
    max-width: 93%;
    margin-left: -52px;
  }
}

.text-box-zx7 {
  position: absolute;
  left: 17%;
}
@media only screen and (max-width: 2168px) {
  .text-box-zx7 {
    left: 18%;
  }
}
@media only screen and (max-width: 1000px) {
  .text-box-zx7 {
    left: 26%;
  }
}
@media only screen and (max-width: 941px) {
  .text-box-zx7 {
    left: 10%;
  }
}
@media only screen and (max-width: 500px) {
  .text-box-zx7 {
    top: 20px;
  }
}

.description-box {
  padding: 82px;
  position: relative;
  background-color: #f1f1f1;
  z-index: -1;
}
@media only screen and (max-width: 1076px) {
  .description-box {
    padding: 66px;
  }
}
@media only screen and (max-width: 1000px) {
  .description-box {
    padding: 59px;
  }
}
@media only screen and (max-width: 941px) {
  .description-box {
    padding: 51px;
  }
}
@media only screen and (max-width: 750px) {
  .description-box {
    padding: 40px;
  }
}
@media only screen and (max-width: 650px) {
  .description-box {
    padding: 85px;
  }
}

.earphone-text-box {
  width: 46%;
  padding: 91px 69px 57px 64px;
  height: 410px;
  background-color: #f1f1f1;
}
@media only screen and (max-width: 1800px) {
  .earphone-text-box {
    height: 312px;
  }
}
@media only screen and (max-width: 1702px) {
  .earphone-text-box {
    height: 319px;
  }
}
@media only screen and (max-width: 1624px) {
  .earphone-text-box {
    height: 320px;
  }
}
@media only screen and (max-width: 1552px) {
  .earphone-text-box {
    height: 320px;
  }
}
@media only screen and (max-width: 1502px) {
  .earphone-text-box {
    height: 312px;
  }
}
@media only screen and (max-width: 1455px) {
  .earphone-text-box {
    height: 325px;
  }
}
@media only screen and (max-width: 1402px) {
  .earphone-text-box {
    height: 305px;
  }
}
@media only screen and (max-width: 1354px) {
  .earphone-text-box {
    height: 299px;
  }
}
@media only screen and (max-width: 1302px) {
  .earphone-text-box {
    height: 286px;
    padding: 50px 40px 50px 40px;
  }
}
@media only screen and (max-width: 1250px) {
  .earphone-text-box {
    height: 268px;
  }
}
@media only screen and (max-width: 1202px) {
  .earphone-text-box {
    height: 244px;
  }
}
@media only screen and (max-width: 1154px) {
  .earphone-text-box {
    height: 236px;
    padding: 45px 34px 38px 34px;
  }
}
@media only screen and (max-width: 1101px) {
  .earphone-text-box {
    height: 223px;
  }
}
@media only screen and (max-width: 1076px) {
  .earphone-text-box {
    height: 210px;
  }
}
@media only screen and (max-width: 1000px) {
  .earphone-text-box {
    height: 297px;
  }
}
@media only screen and (max-width: 941px) {
  .earphone-text-box {
    height: 237px;
  }
}
@media only screen and (max-width: 600px) {
  .earphone-text-box {
    height: 207px;
  }
}
@media only screen and (max-width: 550px) {
  .earphone-text-box {
    height: 175px;
    padding: 30px 28px 28px 25px;
  }
}
@media only screen and (max-width: 450px) {
  .earphone-text-box {
    height: 139px;
    padding: 29px 18px 19px 15px;
  }
}
@media only screen and (max-width: 363px) {
  .earphone-text-box {
    height: 129px;
    padding: 24px 13px 19px 9px;
  }
}

.zx9-heading {
  width: 10%;
  color: #fff;
  font-size: 4rem;
}
@media only screen and (max-width: 1000px) {
  .zx9-heading {
    text-align: center;
    width: 60%;
  }
}

h3 {
  color: black;
}

.desc-span {
  color: #898989;
}

.earphone-h1 {
  margin-bottom: 1.9rem;
}
@media only screen and (max-width: 1154px) {
  .earphone-h1 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 941px) {
  .earphone-h1 {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 650px) {
  .earphone-h1 {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 600px) {
  .earphone-h1 {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 450px) {
  .earphone-h1 {
    margin-bottom: 0.2rem;
    font-size: 0.9rem;
  }
}

.about-us-text-box {
  width: 100%;
  max-width: 525px;
}
@media only screen and (max-width: 1202px) {
  .about-us-text-box {
    width: 434px;
  }
}
@media only screen and (max-width: 1302px) {
  .about-us-text-box {
    max-width: 482px;
  }
}
@media only screen and (max-width: 1101px) {
  .about-us-text-box {
    max-width: 388px;
  }
}
@media only screen and (max-width: 1076px) {
  .about-us-text-box {
    max-width: 370px;
  }
}
@media only screen and (max-width: 1000px) {
  .about-us-text-box {
    max-width: 100%;
    width: 661px;
    text-align: center;
  }
}

.about-us-span {
  color: #d87d4a;
}

.about-us-h2 {
  width: 100%;
  font-size: 3rem;
}
@media only screen and (max-width: 1800px) {
  .about-us-h2 {
    font-size: 3.3rem;
  }
}
@media only screen and (max-width: 1302px) {
  .about-us-h2 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 1202px) {
  .about-us-h2 {
    font-size: 2.7rem;
    margin-bottom: 2.4rem;
  }
}
@media only screen and (max-width: 1101px) {
  .about-us-h2 {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 1076px) {
  .about-us-h2 {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 1000px) {
  .about-us-h2 {
    font-size: 2rem;
    width: 132%;
    margin-left: -116px;
  }
}
@media only screen and (max-width: 800px) {
  .about-us-h2 {
    width: 120%;
    margin-left: -75px;
  }
}
@media only screen and (max-width: 750px) {
  .about-us-h2 {
    width: 100%;
    margin-left: -10px;
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 600px) {
  .about-us-h2 {
    margin-left: 0px;
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 600px) {
  .about-us-h2 {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 450px) {
  .about-us-h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 363px) {
  .about-us-h2 {
    font-size: 1rem;
  }
}

.about-us-pg {
  font-size: 1.2rem;
  color: #898989;
}
@media only screen and (max-width: 1800px) {
  .about-us-pg {
    font-size: 1.4rem;
    line-height: 1.4;
  }
}
@media only screen and (max-width: 1302px) {
  .about-us-pg {
    font-size: 1.2rem;
    line-height: 1.4;
    width: 100%;
    max-width: 429px;
  }
}
@media only screen and (max-width: 1250px) {
  .about-us-pg {
    width: 100%;
    max-width: 416px;
  }
}
@media only screen and (max-width: 1000px) {
  .about-us-pg {
    width: 150%;
    max-width: 634px;
  }
}
@media only screen and (max-width: 650px) {
  .about-us-pg {
    max-width: 588px;
    margin-left: 7px;
  }
}
@media only screen and (max-width: 600px) {
  .about-us-pg {
    max-width: 498px;
    margin-left: 39px;
  }
}
@media only screen and (max-width: 550px) {
  .about-us-pg {
    max-width: 479px;
    margin-left: 25px;
  }
}
@media only screen and (max-width: 500px) {
  .about-us-pg {
    max-width: 399px;
    margin-left: 35px;
  }
}
@media only screen and (max-width: 450px) {
  .about-us-pg {
    max-width: 303px;
    margin-left: 68px;
  }
}
@media only screen and (max-width: 400px) {
  .about-us-pg {
    max-width: 283px;
    margin-left: 47px;
  }
}
@media only screen and (max-width: 363px) {
  .about-us-pg {
    margin-left: 30px;
  }
}

.footer-text {
  width: 100%;
  max-width: 785px;
  font-size: 1.2rem;
  color: #898989;
  margin-bottom: 4.4rem;
  line-height: 1.5;
}
@media only screen and (max-width: 1800px) {
  .footer-text {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 1154px) {
  .footer-text {
    max-width: 641px;
  }
}
@media only screen and (max-width: 1101px) {
  .footer-text {
    max-width: 648px;
  }
}
@media only screen and (max-width: 941px) {
  .footer-text {
    max-width: 540px;
  }
}
@media only screen and (max-width: 800px) {
  .footer-text {
    max-width: 520px;
  }
}
@media only screen and (max-width: 750px) {
  .footer-text {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 450px) {
  .footer-text {
    width: 180%;
    margin-left: -78px;
  }
}
@media only screen and (max-width: 400px) {
  .footer-text {
    width: 217%;
    margin-left: -88px;
  }
}
@media only screen and (max-width: 363px) {
  .footer-text {
    width: 239%;
    margin-left: -85px;
  }
}

.footer-copyright-text {
  color: #898989;
  margin: 0 150px;
  padding-bottom: 4.4rem;
  line-height: 1.6;
}
@media only screen and (max-width: 1455px) {
  .footer-copyright-text {
    margin: 0 100px;
  }
}
@media only screen and (max-width: 1076px) {
  .footer-copyright-text {
    margin: 0px 111px;
  }
}
@media only screen and (max-width: 1000px) {
  .footer-copyright-text {
    margin: 0px 16px;
  }
}
@media only screen and (max-width: 750px) {
  .footer-copyright-text {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 450px) {
  .footer-copyright-text {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 363px) {
  .footer-copyright-text {
    font-size: 1rem;
  }
}

.new-product-h1 {
  width: 65%;
  margin: 0.8rem 0;
  color: black;
}
@media only screen and (max-width: 1402px) {
  .new-product-h1 {
    width: 85%;
  }
}
@media only screen and (max-width: 1552px) {
  .new-product-h1 {
    width: 90%;
  }
}
@media only screen and (max-width: 1202px) {
  .new-product-h1 {
    width: 95%;
  }
}

.new-product-para {
  font-size: 1rem;
  width: 100%;
  line-height: 1.6;
  max-width: 118%;
  margin-bottom: 2.4rem;
  color: #898989;
}

.new-product-overline {
  color: #d87d4a;
}

@media only screen and (max-width: 1000px) {
  .new-product-text-mg-bottom {
    margin-bottom: 240px;
  }
}
@media only screen and (max-width: 600px) {
  .new-product-text-mg-bottom {
    margin-bottom: 140px;
  }
}
@media only screen and (max-width: 550px) {
  .new-product-text-mg-bottom {
    margin-bottom: 89px;
  }
}

.description {
  width: 100%;
  max-width: 500px;
}
@media only screen and (max-width: 1354px) {
  .description {
    max-width: 570px;
  }
}
@media only screen and (max-width: 1000px) {
  .description {
    text-align: center;
  }
}

.go-back {
  position: relative;
  top: 102px;
  left: 142px;
  color: #898989;
  font-size: 1rem;
}
@media only screen and (max-width: 550px) {
  .go-back {
    top: 46px;
  }
}
@media only screen and (max-width: 550px) {
  .go-back {
    top: 39px;
  }
}

.goback-checkout {
  left: 73px;
}

.features-h3 {
  margin-bottom: 2.4rem;
  font-size: 28px;
  font-weight: 700;
}

.features-text {
  margin-bottom: 2.4rem;
  line-height: 1.6;
}

.in-box-span-color {
  color: #d87d4a;
}

.you-may-also-h3 {
  text-align: center;
  margin-bottom: 2.4rem;
}

.features-text-box {
  width: 100%;
  max-width: 525px;
}
@media only screen and (max-width: 941px) {
  .features-text-box {
    margin-bottom: 8.4rem;
  }
}
@media only screen and (max-width: 500px) {
  .features-text-box {
    width: 126%;
  }
}
@media only screen and (max-width: 400px) {
  .features-text-box {
    width: 146%;
  }
}
@media only screen and (max-width: 363px) {
  .features-text-box {
    width: 176%;
  }
}

.features-text {
  margin-bottom: 2.4rem;
}

.cart-h3 {
  color: black;
}

.cart-title-h3 {
  color: black;
  margin-bottom: 0.4rem;
}

.cart-p {
  color: black;
}
@media only screen and (max-width: 400px) {
  .cart-p {
    font-size: 1.2rem;
  }
}

.title-p {
  color: #8f8f8f;
  font-size: 1.2rem;
}

.price-tag {
  color: black;
}

.p-quantity {
  color: black;
}

.chectout-h2 {
  color: black;
  font-size: 1.8rem;
}
@media only screen and (max-width: 400px) {
  .chectout-h2 {
    margin-bottom: 1.2rem;
  }
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center {
  display: flex;
  align-items: center;
  gap: 18%;
}

.space-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gap--abv-100 {
  gap: 104px;
}

.margin-bottom {
  margin-bottom: 160px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoney-margin-bottom {
  margin-bottom: 1.4rem;
}

.checkout-color {
  color: #d87d4a;
  font-size: 1.1rem;
}

header .description {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin: 0 120px;
  animation-name: moveInBottom;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  position: absolute;
  top: 6%;
  width: 100%;
  max-width: 40%;
}
@media only screen and (max-width: 2168px) {
  header .description {
    padding: 7.6rem 1.5rem 1.5rem 1.5rem;
  }
}
@media only screen and (max-width: 1000px) {
  header .description {
    padding: 7.6rem 0.5rem 1.5rem 0.5rem;
  }
}
@media only screen and (max-width: 941px) {
  header .description {
    width: 100%;
    max-width: 550px;
    text-align: center;
    margin-left: 188px;
  }
}
@media only screen and (max-width: 1000px) {
  header .description {
    margin-left: 120px;
  }
}
@media only screen and (max-width: 750px) {
  header .description {
    margin-left: 83px;
  }
}
@media only screen and (max-width: 650px) {
  header .description {
    margin-left: 45px;
  }
}
@media only screen and (max-width: 600px) {
  header .description {
    margin-left: 21px;
  }
}
@media only screen and (max-width: 500px) {
  header .description {
    margin-left: -5px;
  }
}
@media only screen and (max-width: 450px) {
  header .description {
    margin-left: 1px;
  }
}
@media only screen and (max-width: 363px) {
  header .description {
    margin-left: -7px;
  }
}

a {
  text-decoration: none;
}

.header-box {
  background-image: url(/Images-for-audo/image-hero.55c18e98.jpg);
  background-position: 40% 40%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 684px;
  margin-bottom: 8.5rem;
  position: relative;
}
@media only screen and (max-width: 1800px) {
  .header-box {
    height: 839px;
    background-position: 40% 259%;
  }
}
@media only screen and (max-width: 1502px) {
  .header-box {
    height: 718px;
    background-position: 40% 153%;
  }
}
@media only screen and (max-width: 941px) {
  .header-box {
    background-image: url(/Images-for-audo/image-hero-small.jpg);
    background-position: 40% 80%;
  }
}

.header-menu-links-text {
  animation-name: moveInBtm;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

img.cart-image {
  width: 100%;
  max-width: 80%;
  height: 50%;
}

img.headphone {
  margin-bottom: 12.4rem;
}
@media only screen and (max-width: 1076px) {
  img.headphone {
    margin-bottom: 14.4rem;
  }
}
@media only screen and (max-width: 1000px) {
  img.headphone {
    margin-bottom: 15.4rem;
  }
}
@media only screen and (max-width: 750px) {
  img.headphone {
    margin-bottom: 16.4rem;
  }
}
@media only screen and (max-width: 650px) {
  img.headphone {
    object-fit: cover;
  }
}
@media only screen and (max-width: 600px) {
  img.headphone {
    object-fit: cover;
  }
}

img.speaker {
  margin-bottom: 9.8rem;
}
@media only screen and (max-width: 1302px) {
  img.speaker {
    margin-bottom: 11.8rem;
  }
}
@media only screen and (max-width: 1076px) {
  img.speaker {
    margin-bottom: 13.8rem;
  }
}
@media only screen and (max-width: 1000px) {
  img.speaker {
    margin-bottom: 12.8rem;
  }
}
@media only screen and (max-width: 750px) {
  img.speaker {
    margin-bottom: 14.8rem;
  }
}
@media only screen and (max-width: 650px) {
  img.speaker {
    object-fit: cover;
  }
}
@media only screen and (max-width: 600px) {
  img.speaker {
    object-fit: cover;
  }
}

img.earphone {
  margin-bottom: 7.4rem;
}
@media only screen and (max-width: 1076px) {
  img.earphone {
    margin-bottom: 9.4rem;
  }
}
@media only screen and (max-width: 750px) {
  img.earphone {
    margin-bottom: 11.4rem;
  }
}
@media only screen and (max-width: 650px) {
  img.earphone {
    object-fit: cover;
  }
}
@media only screen and (max-width: 600px) {
  img.earphone {
    object-fit: cover;
  }
}

img.premium-speaker {
  width: 108%;
}
@media only screen and (max-width: 1076px) {
  img.premium-speaker {
    max-width: 500px;
  }
}
@media only screen and (max-width: 1000px) {
  img.premium-speaker {
    max-width: 233px;
    padding-top: 4.4rem;
  }
}

img.speaker-img {
  width: 100%;
  max-width: 100%;
}
@media only screen and (max-width: 1000px) {
  img.speaker-img {
    width: 122%;
    max-width: 100%;
  }
}

img.earphone-img {
  height: 401px;
  width: 100%;
  max-width: 561px;
}
@media only screen and (max-width: 1800px) {
  img.earphone-img {
    height: 309px;
    width: 106%;
    max-width: 81.1rem;
  }
}
@media only screen and (max-width: 1702px) {
  img.earphone-img {
    height: 313px;
  }
}
@media only screen and (max-width: 1624px) {
  img.earphone-img {
    height: 312px;
  }
}
@media only screen and (max-width: 1552px) {
  img.earphone-img {
    height: 312px;
  }
}
@media only screen and (max-width: 1502px) {
  img.earphone-img {
    height: 305px;
  }
}
@media only screen and (max-width: 1455px) {
  img.earphone-img {
    height: 319px;
  }
}
@media only screen and (max-width: 1402px) {
  img.earphone-img {
    height: 300px;
  }
}
@media only screen and (max-width: 1354px) {
  img.earphone-img {
    height: 290px;
  }
}
@media only screen and (max-width: 1302px) {
  img.earphone-img {
    height: 278px;
  }
}
@media only screen and (max-width: 1250px) {
  img.earphone-img {
    height: 261px;
  }
}
@media only screen and (max-width: 1202px) {
  img.earphone-img {
    height: 239px;
  }
}
@media only screen and (max-width: 1154px) {
  img.earphone-img {
    height: 233px;
  }
}
@media only screen and (max-width: 1101px) {
  img.earphone-img {
    height: 221px;
  }
}
@media only screen and (max-width: 1076px) {
  img.earphone-img {
    height: 209px;
  }
}
@media only screen and (max-width: 1000px) {
  img.earphone-img {
    height: 292px;
  }
}
@media only screen and (max-width: 941px) {
  img.earphone-img {
    height: 231px;
  }
}
@media only screen and (max-width: 750px) {
  img.earphone-img {
    height: 205px;
  }
}
@media only screen and (max-width: 550px) {
  img.earphone-img {
    height: 170px;
  }
}
@media only screen and (max-width: 450px) {
  img.earphone-img {
    height: 122px;
  }
}

img.about-us-img {
  width: 103%;
  max-width: 686px;
  height: 610px;
}
@media only screen and (max-width: 1800px) {
  img.about-us-img {
    width: 140%;
    max-width: 736px;
    height: 642px;
    object-fit: contain;
  }
}
@media only screen and (max-width: 1702px) {
  img.about-us-img {
    height: 655px;
  }
}
@media only screen and (max-width: 1624px) {
  img.about-us-img {
    height: 625px;
    max-width: 695px;
  }
}
@media only screen and (max-width: 1552px) {
  img.about-us-img {
    height: 647px;
  }
}
@media only screen and (max-width: 1502px) {
  img.about-us-img {
    height: 622px;
  }
}
@media only screen and (max-width: 1455px) {
  img.about-us-img {
    height: 645px;
    width: 115%;
  }
}
@media only screen and (max-width: 1402px) {
  img.about-us-img {
    height: 607px;
    width: 110%;
  }
}
@media only screen and (max-width: 1354px) {
  img.about-us-img {
    height: 597px;
    width: 107%;
  }
}
@media only screen and (max-width: 1302px) {
  img.about-us-img {
    height: 567px;
    width: 107%;
  }
}
@media only screen and (max-width: 1250px) {
  img.about-us-img {
    height: 523px;
    width: 100%;
  }
}
@media only screen and (max-width: 1202px) {
  img.about-us-img {
    height: 525px;
    width: 104%;
  }
}
@media only screen and (max-width: 1154px) {
  img.about-us-img {
    height: 502px;
    width: 96%;
  }
}
@media only screen and (max-width: 1101px) {
  img.about-us-img {
    height: 488px;
    width: 93%;
  }
}
@media only screen and (max-width: 1000px) {
  img.about-us-img {
    height: 1065px;
    width: 179%;
    max-width: 973px;
    margin-left: -28px;
    margin-bottom: 2.4rem;
  }
}
@media only screen and (max-width: 954px) {
  img.about-us-img {
    width: 100%;
  }
}
@media only screen and (max-width: 941px) {
  img.about-us-img {
    width: 103%;
  }
}
@media only screen and (max-width: 600px) {
  img.about-us-img {
    height: 600px;
    width: 107%;
  }
}

img.new-product-img {
  width: 100%;
  max-width: 644px;
  height: 560px;
  object-fit: contain;
}
@media only screen and (max-width: 1800px) {
  img.new-product-img {
    max-width: 812px;
    height: 791px;
  }
}
@media only screen and (max-width: 941px) {
  img.new-product-img {
    height: 560px;
  }
}
@media only screen and (max-width: 750px) {
  img.new-product-img {
    height: 425px;
  }
}
@media only screen and (max-width: 600px) {
  img.new-product-img {
    height: 328px;
  }
}
@media only screen and (max-width: 550px) {
  img.new-product-img {
    height: 260px;
  }
}

.you-may-also-img {
  width: 100%;
  max-width: 350px;
  height: 315px;
}
@media only screen and (max-width: 1076px) {
  .you-may-also-img {
    max-width: 300px;
    object-fit: contain;
  }
}
@media only screen and (max-width: 954px) {
  .you-may-also-img {
    max-width: 284px;
  }
}

.headphoness {
  transform: translateY(-338px);
}

.speakerss {
  transform: translateY(-311px);
}

.earphoness {
  transform: translateY(-277px);
}

.product-img {
  width: 100%;
  height: 100%;
  max-width: 58px;
}

.chart-image {
  width: 100%;
  max-width: 70px;
  border: 2px solid #d87d4a;
}

.btn {
  text-decoration: none;
  padding: 20px 10px;
  width: 100%;
  max-width: 30%;
  color: #fff;
  letter-spacing: 1px;
  outline: none;
  animation-name: moveInBtm;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 4s;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.8s;
}
@media only screen and (max-width: 1154px) {
  .btn {
    max-width: 32%;
  }
}
@media only screen and (max-width: 1101px) {
  .btn {
    max-width: 34%;
  }
}
@media only screen and (max-width: 1076px) {
  .btn {
    max-width: 37%;
  }
}
@media only screen and (max-width: 941px) {
  .btn {
    max-width: 40%;
  }
}

@media only screen and (max-width: 941px) {
  .header-btn {
    margin-left: 149px;
  }
}
@media only screen and (max-width: 450px) {
  .header-btn {
    margin-left: 118px;
  }
}
@media only screen and (max-width: 400px) {
  .header-btn {
    margin-left: 108px;
  }
}
@media only screen and (max-width: 363px) {
  .header-btn {
    margin-left: 94px;
  }
}

.btn-brown {
  background-color: #d87d4a;
  color: #fafafa;
}

.btn-brown:hover {
  background-color: #f1a173;
  transform: translateY(-0.8rem);
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid black;
  color: black;
}
@media only screen and (max-width: 450px) {
  .btn-transparent {
    padding: 7px;
  }
}

.btn-transparent:hover {
  background-color: black;
  color: #fff;
  letter-spacing: 5px;
}

.btn-black {
  background-color: black;
  color: #fff;
}
@media only screen and (max-width: 1000px) {
  .btn-black {
    margin-left: 54px;
  }
}

.btn-black:hover {
  background-color: #484848;
  letter-spacing: 5px;
}

.link-add-to-cart {
  background-color: #d87d4a;
  color: #fafafa;
  border: none;
  height: 100%;
}
@media only screen and (max-width: 1000px) {
  .link-add-to-cart {
    max-width: 25%;
  }
}
@media only screen and (max-width: 600px) {
  .link-add-to-cart {
    margin-left: 240px;
    max-width: 37%;
  }
}
@media only screen and (max-width: 500px) {
  .link-add-to-cart {
    margin-left: 261px;
    max-width: 37%;
  }
}
@media only screen and (max-width: 450px) {
  .link-add-to-cart {
    margin-left: 243px;
    max-width: 39%;
  }
}

.link-add-to-cart:hover {
  background-color: #f1a173;
}

.checkoutbtn {
  background-color: #d87d4a;
  padding: 20px 176px;
}

.price-product {
  color: #101010;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1.29px;
  margin-bottom: 47px;
}

.quantity-item-product {
  display: flex;
  gap: 2%;
  margin-left: -100px;
}
@media only screen and (max-width: 1552px) {
  .quantity-item-product {
    margin-left: -173px;
  }
}
@media only screen and (max-width: 1000px) {
  .quantity-item-product {
    margin-left: -69px;
  }
}
@media only screen and (max-width: 800px) {
  .quantity-item-product {
    margin-left: -96px;
  }
}
@media only screen and (max-width: 650px) {
  .quantity-item-product {
    margin-left: -162px;
  }
}
@media only screen and (max-width: 600px) {
  .quantity-item-product {
    margin-left: -180px;
    flex-direction: column;
  }
}
@media only screen and (max-width: 500px) {
  .quantity-item-product {
    margin-left: -187px;
  }
}

.quantity {
  background-color: #efefef;
  position: relative;
  height: 91%;
  text-align: center;
  border: none;
  outline: none;
}
@media only screen and (max-width: 600px) {
  .quantity {
    padding: 18px 15px;
  }
}

.quantity-input {
  background-color: #efefef;
  position: relative;
  height: 47px;
  text-align: center;
  border: none;
  outline: none;
}

.sign {
  position: relative;
  color: #898989;
  height: 18px;
  cursor: pointer;
  width: 16px;
  height: 18px;
}

.plus {
  left: 137px;
  top: -42px;
}
@media only screen and (max-width: 600px) {
  .plus {
    left: 214px;
  }
}
@media only screen and (max-width: 500px) {
  .plus {
    left: 255px;
  }
}
@media only screen and (max-width: 450px) {
  .plus {
    left: 232px;
  }
}

.plus:hover {
  color: #d87d4a;
}

.minus {
  right: -15px;
  top: -61px;
}
@media only screen and (max-width: 600px) {
  .minus {
    right: -89px;
  }
}
@media only screen and (max-width: 500px) {
  .minus {
    right: -105px;
  }
}
@media only screen and (max-width: 450px) {
  .minus {
    right: -93px;
  }
}

.minus:hover {
  color: #d87d4a;
}

.cart-box {
  display: flex;
  gap: 45%;
  color: #8f8f8f;
}

.product-box {
  display: flex;
  gap: 3%;
  align-items: center;
  margin-bottom: 1.4rem;
}

.product-box-summary {
  margin-bottom: 4.4rem;
}

.quantity-box-1 {
  margin-left: 82px;
}

.quantity-box {
  margin-left: 172px;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-right: -272px;
  color: #fff;
  margin-bottom: 2.4rem;
}

.total-price,
.shipping,
.vat {
  margin-bottom: 0.4rem;
}

.grand-total {
  margin-bottom: 2.4rem;
}

.overlay-container {
  position: absolute;
  top: 3%;
  left: 61%;
}
@media only screen and (max-width: 1354px) {
  .overlay-container {
    left: 55%;
  }
}
@media only screen and (max-width: 1154px) {
  .overlay-container {
    left: 47%;
  }
}
@media only screen and (max-width: 1455px) {
  .overlay-container {
    left: 51%;
  }
}

.hero-wrapper {
  position: relative;
}

.cart-container {
  width: 108%;
  max-width: 507px;
  height: 100%;
  background-color: #fff;
  padding: 41px 34px;
  border-radius: 21px;
  text-align: center;
}

.overlay-cart {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(16, 16, 16, 0.5);
  z-index: 5;
}

.icons-wrapper {
  display: flex;
  gap: 20%;
}
@media only screen and (max-width: 750px) {
  .icons-wrapper {
    display: flex;
    gap: 13%;
    justify-content: center;
    margin-bottom: 1.4rem;
  }
}

path:hover {
  fill: #d87d4a;
}

.category-wrapper {
  text-align: center;
  gap: 104px;
  margin: 0 128px;
  height: 578px;
}
@media only screen and (max-width: 1354px) {
  .category-wrapper {
    gap: 60px;
  }
}
@media only screen and (max-width: 1250px) {
  .category-wrapper {
    gap: 45px;
  }
}
@media only screen and (max-width: 1202px) {
  .category-wrapper {
    gap: 19px;
  }
}
@media only screen and (max-width: 1000px) {
  .category-wrapper {
    gap: 19px;
    margin: 0;
  }
}
@media only screen and (max-width: 650px) {
  .category-wrapper {
    flex-direction: column;
    height: 100%;
  }
}

.box-premium-speaker {
  height: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 4.4rem;
}

.premium-wrapper {
  background-color: #d87d4a;
  margin: 0 129px;
}
@media only screen and (max-width: 1000px) {
  .premium-wrapper {
    flex-direction: column;
    margin: 0;
  }
}

.speaker-premium {
  margin-bottom: 4.4rem;
}

.speaker-wrapper {
  margin: 0 129px;
  position: relative;
}
@media only screen and (max-width: 1000px) {
  .speaker-wrapper {
    margin: 0;
  }
}

.earphone-wrapper {
  padding-bottom: 2.4rem;
  gap: 2%;
  margin: 0 76px 160px 76px;
}
@media only screen and (max-width: 1800px) {
  .earphone-wrapper {
    gap: 4%;
  }
}
@media only screen and (max-width: 1000px) {
  .earphone-wrapper {
    margin: 0;
  }
}

.about-us-wrapper {
  padding-bottom: 2.4rem;
  gap: 5%;
  margin: 0px -12px 160px -12px;
}
@media only screen and (max-width: 1800px) {
  .about-us-wrapper {
    gap: 0%;
    margin-left: -79px;
  }
}
@media only screen and (max-width: 1702px) {
  .about-us-wrapper {
    gap: 1%;
  }
}
@media only screen and (max-width: 1624px) {
  .about-us-wrapper {
    gap: 1%;
  }
}
@media only screen and (max-width: 1552px) {
  .about-us-wrapper {
    gap: 2%;
  }
}
@media only screen and (max-width: 1502px) {
  .about-us-wrapper {
    gap: 1%;
    margin-right: -11px;
  }
}
@media only screen and (max-width: 1455px) {
  .about-us-wrapper {
    gap: 2%;
  }
}
@media only screen and (max-width: 1354px) {
  .about-us-wrapper {
    gap: 0%;
  }
}
@media only screen and (max-width: 1250px) {
  .about-us-wrapper {
    gap: 3%;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 1101px) {
  .about-us-wrapper {
    gap: 1%;
    margin-left: 27px;
  }
}
@media only screen and (max-width: 1000px) {
  .about-us-wrapper {
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 954px) {
  .about-us-wrapper {
    margin: 0;
  }
}

.footer-wrapper {
  display: flex;
  align-items: center;
  gap: 36%;
  margin: 0px 150px 61px 150px;
  padding-top: 70px;
}
@media only screen and (max-width: 2168px) {
  .footer-wrapper {
    gap: 48%;
  }
}
@media only screen and (max-width: 1800px) {
  .footer-wrapper {
    gap: 47%;
    margin-bottom: 80px;
  }
}
@media only screen and (max-width: 1702px) {
  .footer-wrapper {
    gap: 47%;
  }
}
@media only screen and (max-width: 1624px) {
  .footer-wrapper {
    gap: 46%;
  }
}
@media only screen and (max-width: 1552px) {
  .footer-wrapper {
    gap: 45%;
  }
}
@media only screen and (max-width: 1502px) {
  .footer-wrapper {
    gap: 45%;
  }
}
@media only screen and (max-width: 1455px) {
  .footer-wrapper {
    gap: 46%;
    margin: 0px 147px 61px 107px;
  }
}
@media only screen and (max-width: 1354px) {
  .footer-wrapper {
    gap: 42%;
  }
}
@media only screen and (max-width: 1250px) {
  .footer-wrapper {
    gap: 39%;
    margin: 0 100px 61px 100px;
  }
}
@media only screen and (max-width: 1154px) {
  .footer-wrapper {
    gap: 30%;
  }
}
@media only screen and (max-width: 1101px) {
  .footer-wrapper {
    gap: 26%;
  }
}
@media only screen and (max-width: 1076px) {
  .footer-wrapper {
    gap: 23%;
    margin: 0px 40px 61px 117px;
  }
}
@media only screen and (max-width: 1000px) {
  .footer-wrapper {
    gap: 30%;
    margin: 0px 22px 61px 22px;
  }
}
@media only screen and (max-width: 954px) {
  .footer-wrapper {
    gap: 25%;
  }
}
@media only screen and (max-width: 941px) {
  .footer-wrapper {
    flex-direction: column;
  }
}

.footer-wrapper::before {
  content: "";
  position: absolute;
  width: 101px;
  height: 4px;
  background-color: #d87d4a;
  top: 0;
  left: 108px;
}
@media only screen and (max-width: 1000px) {
  .footer-wrapper::before {
    left: 22px;
  }
}

.footer-wrapper-2 {
  color: #fff;
  display: flex;
  gap: 41%;
  margin: 0 150px;
}
@media only screen and (max-width: 1800px) {
  .footer-wrapper-2 {
    gap: 20%;
  }
}
@media only screen and (max-width: 1455px) {
  .footer-wrapper-2 {
    gap: 20%;
    margin: 0 98px;
  }
}
@media only screen and (max-width: 1202px) {
  .footer-wrapper-2 {
    gap: 14%;
    margin: 0 100px;
  }
}
@media only screen and (max-width: 1154px) {
  .footer-wrapper-2 {
    gap: 18%;
    margin: 0 100px;
  }
}
@media only screen and (max-width: 1076px) {
  .footer-wrapper-2 {
    gap: 7%;
    margin: 0px 113px;
  }
}
@media only screen and (max-width: 1000px) {
  .footer-wrapper-2 {
    gap: 18%;
    margin: 0px 19px;
  }
}
@media only screen and (max-width: 954px) {
  .footer-wrapper-2 {
    gap: 12%;
  }
}
@media only screen and (max-width: 941px) {
  .footer-wrapper-2 {
    gap: 10%;
  }
}
@media only screen and (max-width: 750px) {
  .footer-wrapper-2 {
    flex-direction: column;
    margin: 0 113px;
  }
}

.header-menu-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 342px;
  background-color: black;
  color: #fff;
}

.new-product-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 160px 140px 160px 140px;
  gap: 13%;
}
@media only screen and (max-width: 1800px) {
  .new-product-wrapper {
    gap: 18%;
  }
}
@media only screen and (max-width: 1455px) {
  .new-product-wrapper {
    margin: 190px 140px 190px 140px;
    height: 536px;
  }
}
@media only screen and (max-width: 1000px) {
  .new-product-wrapper {
    flex-direction: column;
    margin: 470px 140px 500px 140px;
  }
}
@media only screen and (max-width: 600px) {
  .new-product-wrapper {
    margin: 314px 140px 500px 140px;
  }
}
@media only screen and (max-width: 500px) {
  .new-product-wrapper {
    margin: 314px 59px 414px 59px;
  }
}

@media only screen and (max-width: 1000px) {
  .new-product-wrapper-2 {
    margin-bottom: 700px;
  }
}
@media only screen and (max-width: 941px) {
  .new-product-wrapper-2 {
    margin-bottom: 550px;
  }
}
@media only screen and (max-width: 600px) {
  .new-product-wrapper-2 {
    margin-bottom: 386px;
  }
}

@media only screen and (max-width: 600px) {
  .product-detail-margin-top {
    margin-top: 285px;
  }
}

@media only screen and (max-width: 1000px) {
  .new-product-tab {
    flex-direction: column-reverse;
  }
}

.features-wrapper {
  margin: 0px 140px 160px 140px;
  font-size: 1rem;
  color: #898989;
  position: relative;
}
@media only screen and (max-width: 1250px) {
  .features-wrapper {
    margin: 0px 100px 160px 100px;
  }
}
@media only screen and (max-width: 1000px) {
  .features-wrapper {
    gap: 6%;
  }
}
@media only screen and (max-width: 941px) {
  .features-wrapper {
    flex-direction: column;
  }
}

.container {
  display: flex;
}
@media only screen and (max-width: 1202px) {
  .container {
    flex-direction: column;
  }
}

.summary {
  width: 100%;
  max-width: 467px;
  position: absolute;
  top: 40%;
  left: 67%;
}
@media only screen and (max-width: 1202px) {
  .summary {
    position: relative;
    top: 40%;
    left: 5%;
  }
}
@media only screen and (max-width: 800px) {
  .summary {
    left: 8%;
  }
}
@media only screen and (max-width: 550px) {
  .summary {
    left: 4%;
  }
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 445px 635px;
  grid-template-rows: 280px 280px;
  column-gap: 32px;
  row-gap: 32px;
  margin: 0 129px 160px 129px;
}
@media only screen and (max-width: 1354px) {
  .grid-wrapper {
    margin: 0 100px 160px 100px;
    column-gap: 18px;
  }
}
@media only screen and (max-width: 1202px) {
  .grid-wrapper {
    margin: 0 100px 160px 50px;
  }
}
@media only screen and (max-width: 1154px) {
  .grid-wrapper {
    margin: 0 100px 160px 23px;
  }
}
@media only screen and (max-width: 1076px) {
  .grid-wrapper {
    column-gap: 1px;
    row-gap: 1px;
  }
}
@media only screen and (max-width: 600px) {
  .grid-wrapper {
    margin: 0 100px 160px 81px;
  }
}
@media only screen and (max-width: 550px) {
  .grid-wrapper {
    margin: 0 100px 160px 75px;
  }
}
@media only screen and (max-width: 500px) {
  .grid-wrapper {
    margin: 0 100px 160px 33px;
  }
}
@media only screen and (max-width: 450px) {
  .grid-wrapper {
    margin: 0 100px 160px 83px;
  }
}
@media only screen and (max-width: 400px) {
  .grid-wrapper {
    margin: 0 100px 160px 45px;
  }
}
@media only screen and (max-width: 363px) {
  .grid-wrapper {
    margin: 0 100px 160px 22px;
  }
}

.grid-img-50 {
  grid-column-start: 1;
  grid-column-end: 2;
}
@media only screen and (max-width: 450px) {
  .grid-img-50 {
    width: 80%;
  }
}
@media only screen and (max-width: 363px) {
  .grid-img-50 {
    width: 90%;
  }
}

.grid-img-100 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
@media only screen and (max-width: 1000px) {
  .grid-img-100 {
    width: 81%;
    max-width: 633px;
  }
}
@media only screen and (max-width: 954px) {
  .grid-img-100 {
    width: 75%;
  }
}
@media only screen and (max-width: 954px) {
  .grid-img-100 {
    width: 70%;
  }
}
@media only screen and (max-width: 870px) {
  .grid-img-100 {
    width: 55%;
  }
}
@media only screen and (max-width: 800px) {
  .grid-img-100 {
    width: 47%;
  }
}
@media only screen and (max-width: 700px) {
  .grid-img-100 {
    width: 32%;
  }
}
@media only screen and (max-width: 650px) {
  .grid-img-100 {
    width: 26%;
  }
}
@media only screen and (max-width: 600px) {
  .grid-img-100 {
    display: none;
  }
}

@media only screen and (max-width: 1076px) {
  .grid-img {
    width: 90%;
  }
}
@media only screen and (max-width: 450px) {
  .grid-img {
    width: 78%;
  }
}

@media only screen and (max-width: 1154px) {
  .grid-image-100 {
    width: 94%;
    height: 95%;
  }
}
@media only screen and (max-width: 1000px) {
  .grid-image-100 {
    width: 96%;
    height: 95%;
    margin-left: -13px;
    object-fit: cover;
  }
}
@media only screen and (max-width: 954px) {
  .grid-image-100 {
    width: 96%;
  }
}

.screen1_menu_items {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.screen1_menu_btn {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
@media only screen and (max-width: 941px) {
  .screen1_menu_btn {
    display: flex;
  }
}

.screen1_menu_hamburger {
  width: 20px;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
  z-index: 10;
  transition: all 0.5s ease;
  cursor: pointer;
}

.screen1_menu_hamburger::before,
.screen1_menu_hamburger::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.screen1_menu_hamburger::before {
  transform: translateY(-6px);
}

.screen1_menu_hamburger::after {
  transform: translateY(6px);
}

.screen1_menu_items {
  background: black;
  color: #fff;
  position: absolute;
  left: -73%;
  height: 50vh;
  width: 41%;
  border-radius: 7px;
  padding-top: 70px;
  top: 0;
  transition: all 0.5s ease-in-out;
}
@media only screen and (max-width: 700px) {
  .screen1_menu_items {
    width: 60%;
    height: 100vh;
  }
}

.screen1_menu_items li {
  padding: 10px 0;
  text-align: center;
  list-style-type: none;
  transition: all 0.2s ease;
}

.screen1_menu_items li:hover {
  letter-spacing: 2px;
  opacity: 6;
}

.screen1_menu_btn input:checked ~ .screen1_menu_hamburger {
  transform: translateX(-50px);
  background: transparent;
}

.screen1_menu_btn input:checked ~ .screen1_menu_hamburger::before {
  transform: rotate(45deg) translate(37px, -35px);
}

.screen1_menu_btn input:checked ~ .screen1_menu_hamburger::after {
  transform: rotate(-45deg) translate(34px, 36px);
}

.screen1_menu_btn input:checked ~ .screen1_menu_items {
  left: -1%;
}

.screen1_menu_btn input {
  display: none;
  position: absolute;
  left: 13px;
}

.you-may-also-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 0 145px 160px 145px;
}
@media only screen and (max-width: 1354px) {
  .you-may-also-wrapper {
    margin: 0 110px 160px 110px;
  }
}
@media only screen and (max-width: 1302px) {
  .you-may-also-wrapper {
    margin: 0 90px 160px 90px;
  }
}
@media only screen and (max-width: 1250px) {
  .you-may-also-wrapper {
    margin: 0 20px 160px 81px;
  }
}
@media only screen and (max-width: 1154px) {
  .you-may-also-wrapper {
    margin: 0 34px 160px 17px;
  }
}
@media only screen and (max-width: 1076px) {
  .you-may-also-wrapper {
    margin: 0 -6px 160px 4px;
  }
}
@media only screen and (max-width: 1000px) {
  .you-may-also-wrapper {
    margin: 0 5px 160px 5px;
  }
}
@media only screen and (max-width: 800px) {
  .you-may-also-wrapper {
    flex-direction: column;
    text-align: center;
  }
}

.you-may-also-description-box {
  text-align: center;
  margin: 1.4rem 0;
}

.title {
  margin-bottom: 1.4rem;
  font-weight: 700;
}

nav {
  background-color: #101010;
  position: relative;
}

nav .navigation {
  padding: 2.5rem 0;
  position: relative;
  z-index: 10;
  border-bottom: 1px solid #fff;
  margin: 0 150px;
}
@media only screen and (max-width: 941px) {
  nav .navigation {
    margin: 0 65px;
  }
}
@media only screen and (max-width: 450px) {
  nav .navigation {
    margin: 0 36px;
  }
}
@media only screen and (max-width: 400px) {
  nav .navigation {
    margin: 0 23px;
  }
}
@media only screen and (max-width: 363px) {
  nav .navigation {
    margin: 0 7px;
  }
}

ul.link-groups {
  display: flex;
  align-items: center;
  gap: 10%;
  font-size: 1.1rem;
  transition: all 0.4s;
}
@media only screen and (max-width: 1202px) {
  ul.link-groups {
    gap: 5%;
    margin-left: 60px;
  }
}
@media only screen and (max-width: 941px) {
  ul.link-groups {
    margin-left: 0;
  }
}
@media only screen and (max-width: 500px) {
  ul.link-groups {
    margin-left: -49px;
  }
}
@media only screen and (max-width: 450px) {
  ul.link-groups {
    display: none;
  }
}

.link {
  color: #fff;
  text-decoration: none;
  transition: all 2s;
}

.link:hover {
  letter-spacing: 6px;
}

@media only screen and (max-width: 941px) {
  ul.header-links {
    display: none;
  }
}

ul li {
  list-style: none;
}

@media only screen and (max-width: 650px) {
  a.headphones {
    height: 493px;
  }
}
@media only screen and (max-width: 600px) {
  a.headphones {
    height: 493px;
  }
}

@media only screen and (max-width: 650px) {
  a.speakers {
    height: 450px;
    width: 327px;
  }
}
@media only screen and (max-width: 600px) {
  a.speakers {
    height: 450px;
    width: 327px;
  }
}

@media only screen and (max-width: 650px) {
  a.earphones {
    height: 500px;
  }
}
@media only screen and (max-width: 600px) {
  a.earphones {
    height: 500px;
  }
}

.checkout-nav {
  padding: 2.5rem 0;
  position: relative;
  z-index: 10;
  border-bottom: 1px solid #fff;
  margin: 0 70px;
}

.checkout {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 160px 68px;
  height: auto;
  background-color: #fff;
  padding: 54px 48px 48px;
  border-radius: 22px;
  width: 100%;
  max-width: 733px;
}
@media only screen and (max-width: 1202px) {
  .checkout {
    max-width: 988px;
    padding: 90px 157px 71px 142px;
  }
}
@media only screen and (max-width: 1154px) {
  .checkout {
    max-width: 900px;
  }
}
@media only screen and (max-width: 1000px) {
  .checkout {
    max-width: 736px;
    padding: 90px 33px 71px 54px;
  }
}
@media only screen and (max-width: 870px) {
  .checkout {
    max-width: 678px;
    padding: 90px 32px 71px 38px;
  }
}
@media only screen and (max-width: 750px) {
  .checkout {
    max-width: 589px;
    padding: 90px 28px 71px 30px;
  }
}
@media only screen and (max-width: 700px) {
  .checkout {
    max-width: 559px;
    padding: 90px 4px 71px 15px;
    margin: 160px 22px;
  }
}
@media only screen and (max-width: 550px) {
  .checkout {
    padding: 90px 1px 71px 1px;
  }
}
@media only screen and (max-width: 500px) {
  .checkout {
    padding: 90px 88px 71px 75px;
  }
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  margin-bottom: 4.4rem;
}
@media only screen and (max-width: 800px) {
  .flex-wrap {
    gap: 4%;
  }
}
@media only screen and (max-width: 550px) {
  .flex-wrap {
    gap: 1%;
  }
}

.middle {
  width: 115%;
  height: 55px;
  /* border: none; */
  outline: none;
  border-radius: 8px;
  font-size: 18px;
  max-width: 500px;
  border: 1px solid;
  border-color: #cfcfcf;
  letter-spacing: 0.27px;
  cursor: auto;
  padding: 12px;
  margin-bottom: 1.4rem;
  margin-top: 0.8rem;
}
@media only screen and (max-width: 800px) {
  .middle {
    width: 98%;
  }
}
@media only screen and (max-width: 550px) {
  .middle {
    width: 80%;
  }
}

.middle:is(:focus, :valid) {
  border: 2px solid #d87d4a;
}

.full {
  max-width: 615px;
}
@media only screen and (max-width: 800px) {
  .full {
    max-width: 507px;
  }
}
@media only screen and (max-width: 550px) {
  .full {
    max-width: 453px;
  }
}

.emoney-information-details {
  display: flex;
  gap: 20%;
}
@media only screen and (max-width: 800px) {
  .emoney-information-details {
    gap: 8%;
  }
}
@media only screen and (max-width: 400px) {
  .emoney-information-details {
    flex-direction: column;
  }
}

.payment-wrap {
  display: flex;
  gap: 34%;
}
@media only screen and (max-width: 800px) {
  .payment-wrap {
    gap: 26%;
  }
}
@media only screen and (max-width: 500px) {
  .payment-wrap {
    gap: 7%;
  }
}
@media only screen and (max-width: 400px) {
  .payment-wrap {
    flex-direction: column;
  }
}

.payment-method-box {
  position: relative;
  left: 32px;
}
@media only screen and (max-width: 400px) {
  .payment-method-box {
    margin-bottom: 1.4rem;
    left: -11px;
  }
}

.payment-h3 {
  color: black;
}
@media only screen and (max-width: 400px) {
  .payment-h3 {
    margin-bottom: 1.2rem;
  }
}

input[type=radio] {
  display: none;
}

label.radio {
  font-size: 0.8rem;
  position: relative;
  border: 1px solid #898989;
  border-radius: 5px;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  width: 275px;
  cursor: pointer;
  color: black;
}
@media only screen and (max-width: 800px) {
  label.radio {
    width: 239px;
  }
}
@media only screen and (max-width: 550px) {
  label.radio {
    width: 205px;
  }
}
@media only screen and (max-width: 500px) {
  label.radio {
    width: 179px;
  }
}

label.radio::before {
  content: "";
  height: 30px;
  width: 30px;
  border: 3px solid #d87d4a;
  border-radius: 50%;
  margin-right: 20px;
}

label.radio::after {
  content: "";
  height: 20px;
  width: 20px;
  border: none;
  border-radius: none;
  background-color: none;
  position: absolute;
  left: 29px;
}

input[type=radio]:checked + label.radio {
  border: 1px solid #d87d4a;
}

input[type=radio]:checked + label.radio::after {
  border: 3px solid #d87d4a;
  background-color: #d87d4a;
  border-radius: 50%;
}

.cart-title {
  margin-bottom: 2.4rem;
}

.box-product {
  display: flex;
  gap: 10%;
  margin-bottom: 2.4rem;
}

.box-description {
  display: flex;
}

.product-description {
  margin-left: 16px;
}

.bill-gap {
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: space-between;
}

.pay {
  background-color: #d87d4a;
  padding: 20px 100px;
}

.total-price-box {
  width: 21%;
}

.box-summary {
  background-color: #fff;
  width: 100%;
  font-size: 1.2rem;
  padding-top: 3.4rem;
}

.earphone-premium {
  margin-bottom: 4.4rem;
}

.in-the-box-wrapper {
  width: 100%;
  max-width: 603px;
}

.p {
  display: flex;
  gap: 20px;
  margin-bottom: 0.5rem;
}

.in-the-box-text-box {
  position: relative;
  top: -93px;
}

.about-us {
  margin-bottom: 11.4rem;
}

@media only screen and (max-width: 750px) {
  .you-may-also-like {
    margin-left: 82px;
  }
}
@media only screen and (max-width: 600px) {
  .you-may-also-like {
    margin-left: 28px;
  }
}

footer {
  background-color: black;
  position: relative;
}

@media only screen and (max-width: 941px) {
  .footer-logo {
    margin-bottom: 1.4rem;
    margin-left: 30px;
  }
}
@media only screen and (max-width: 450px) {
  .footer-logo {
    margin-left: 3px;
  }
}

/*# sourceMappingURL=style.css.map */
