nav {
  background-color: #101010;
  position: relative;
}

nav .navigation {
  padding: 2.5rem 0;
  position: relative;
  z-index: 10;
  border-bottom: 1px solid #fff;
  margin: 0 150px;

  @include respond(tab-port-mini) {
    margin: 0 65px;
  }
  @include respond(small-screen) {
    margin: 0 36px;
  }
  @include respond(smaller-screen) {
    margin: 0 23px;
  }
  @include respond(smaller-phones) {
    margin: 0 7px;
  }
}

ul.link-groups {
  display: flex;
  align-items: center;
  gap: 10%;
  font-size: 1.1rem;
  transition: all 0.4s;

  @include respond(tab-land) {
    gap: 5%;
    margin-left: 60px;
  }

  @include respond(tab-port-mini) {
    margin-left: 0;
  }
  @include respond(small-phone) {
    margin-left: -49px;
  }
  @include respond(small-screen) {
    display: none;
  }
}

.link {
  color: #fff;
  text-decoration: none;
  transition: all 2s;
}

.link:hover {
  letter-spacing: 6px;
}

ul.header-links {
  @include respond(tab-port-mini) {
    display: none;
  }
}

ul li {
  list-style: none;
}

a.headphones {
  @include respond(phone-port) {
    height: 493px;
  }
  @include respond(phone) {
    height: 493px;
  }
}
a.speakers {
  @include respond(phone-port) {
    height: 450px;
    width: 327px;
  }
  @include respond(phone) {
    height: 450px;
    width: 327px;
  }
}

a.earphones {
  @include respond(phone-port) {
    height: 500px;
  }
  @include respond(phone) {
    height: 500px;
  }
}

.checkout-nav {
  padding: 2.5rem 0;
  position: relative;
  z-index: 10;
  border-bottom: 1px solid #fff;
  margin: 0 70px;
}

.checkout {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 160px 68px;
  height: auto;
  background-color: #fff;
  padding: 54px 48px 48px;
  border-radius: 22px;
  width: 100%;
  max-width: 733px;

  @include respond(tab-land) {
    max-width: 988px;
    padding: 90px 157px 71px 142px;
  }
  @include respond(tab-med-land) {
    max-width: 900px;
  }
  @include respond(tab-deep) {
    max-width: 736px;
    padding: 90px 33px 71px 54px;
  }
  @include respond(tablet-large) {
    max-width: 678px;
    padding: 90px 32px 71px 38px;
  }
  @include respond(tablet-mini) {
    max-width: 589px;
    padding: 90px 28px 71px 30px;
  }
  @include respond(tablet-port) {
    max-width: 559px;
    padding: 90px 4px 71px 15px;
    margin: 160px 22px;
  }
  @include respond(phone-min) {
    padding: 90px 1px 71px 1px;
  }
  @include respond(small-phone) {
    padding: 90px 88px 71px 75px;
  }
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  margin-bottom: 4.4rem;

  @include respond(tablet) {
    gap: 4%;
  }

  @include respond(phone-min) {
    gap: 1%;
  }
}

.middle {
  width: 115%;
  height: 55px;
  /* border: none; */
  outline: none;
  border-radius: 8px;
  font-size: 18px;
  max-width: 500px;
  border: 1px solid;
  border-color: rgb(207, 207, 207);
  letter-spacing: 0.27px;
  cursor: auto;
  padding: 12px;
  margin-bottom: 1.4rem;
  margin-top: 0.8rem;

  @include respond(tablet) {
    width: 98%;
  }
  @include respond(phone-min) {
    width: 80%;
  }
}

.middle:is(:focus, :valid) {
  border: 2px solid #d87d4a;
}

.full {
  max-width: 615px;

  @include respond(tablet) {
    max-width: 507px;
  }
  @include respond(phone-min) {
    max-width: 453px;
  }
}

.emoney-information-details {
  display: flex;
  gap: 20%;

  @include respond(tablet) {
    gap: 8%;
  }
  @include respond(smaller-screen) {
    flex-direction: column;
  }
}

.payment-wrap {
  display: flex;
  gap: 34%;

  @include respond(tablet) {
    gap: 26%;
  }
  @include respond(small-phone) {
    gap: 7%;
  }
  @include respond(smaller-screen) {
    flex-direction: column;
  }
}

.payment-method-box {
  position: relative;
  left: 32px;

  @include respond(smaller-screen) {
    margin-bottom: 1.4rem;
    left: -11px;
  }
}

.payment-h3 {
  color: black;

  @include respond(smaller-screen) {
    margin-bottom: 1.2rem;
  }
}

input[type="radio"] {
  display: none;
}

label.radio {
  font-size: 0.8rem;
  position: relative;
  border: 1px solid #898989;
  border-radius: 5px;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  width: 275px;
  cursor: pointer;
  color: black;

  @include respond(tablet) {
    width: 239px;
  }
  @include respond(phone-min) {
    width: 205px;
  }
  @include respond(small-phone) {
    width: 179px;
  }
}

label.radio::before {
  content: "";
  height: 30px;
  width: 30px;
  border: 3px solid #d87d4a;
  @include circle-box;
  margin-right: 20px;
}

label.radio::after {
  content: "";
  height: 20px;
  width: 20px;
  border: none;
  border-radius: none;
  background-color: none;
  position: absolute;
  left: 29px;
}
// input[type="radio"]:checked + label.radio::before {
//   height: 16px;
//   width: 16px;
//   border: 10px solid white;
//   background-color: #d87d4a;
// }

input[type="radio"]:checked + label.radio {
  border: 1px solid #d87d4a;
}

input[type="radio"]:checked + label.radio::after {
  border: 3px solid #d87d4a;
  background-color: #d87d4a;
  border-radius: 50%;
}

// .box-bill {
//   display: flex;
// }

.cart-title {
  margin-bottom: 2.4rem;
}

.box-product {
  display: flex;
  gap: 10%;
  margin-bottom: 2.4rem;
}

.box-description {
  display: flex;
}

.product-description {
  margin-left: 16px;
}

.bill-gap {
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: space-between;
}

.pay {
  background-color: #d87d4a;
  padding: 20px 100px;
}

.total-price-box {
  width: 21%;
}

.box-summary {
  background-color: #fff;
  width: 100%;
  font-size: 1.2rem;
  padding-top: 3.4rem;
}
